html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: #3F3F3F;
    line-height: 1.6;
  }

 h2 {
    color: #2980b9;
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 15px;
  }

h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

h5 {
    font-size: 1.4rem;
}


p {
    font-size: 1.4rem;
    padding: 0 20px;
    line-height: 1.6;
}

a {
    font-size: 1.3rem;
}

.dropdown-menu {
    width: 250px;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
}

.dropdown-menu a { 
    text-decoration: none;
    font-size: 1.2rem;
    color: #3F3F3F;
    
}

/*Se connecter*/
     
.popup-header {
    background-color: rgba(255, 255, 255, 0.95); /* Fond blanc semi-opaque */
    border-radius: 0.75rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    font-size: 1rem;
}

.popup-connexion {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95); /* Fond blanc semi-opaque */
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    z-index: 1000;
    width: 290px;
    display: none; /* cachée par défaut */

    display: none;
    flex-direction: column;
    align-items: flex-start; 
    
}

.popup-connexion h5 {
    margin-top: 0;
}

.popup-connexion p {
    font-size: 1rem !important;
}

.popup-links {
    margin-top: 20px;;
    padding-left: 0;
    list-style: none;
}

.popup-links ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.popup-links li {
    margin-bottom: 0.5rem;
}

.popup-links li a {
    font-size: 1rem;
    text-decoration: none; 
   color: #3F3F3F;
}

.popup-links li i {
    margin-right: 8px;
    font-size: 1rem;
}

/* Animation d’apparition */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}


.btn-connexion {
    display: inline-block;
    margin-top: 10px;
    background-color: black;
    color: white;
    width: auto;
    padding: 8px 0 8px 8px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
  }

#panier-count {
    font-size: 0.80rem; 
    padding: 0.15em 0.3em;
}

.heart-icon {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.heart-icon.favored {
    color: red;
}

/***********************/

.banniere {
    background: linear-gradient(rgba(0, 50, 100, 0.5), rgba(0, 50, 100, 0.5)), url('../images/beach.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 80px 20px;
    text-align: center;
    height: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.text-banniere {
    color: #f0f8ff; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6); 
}

.banniere h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.banniere p {
    color: #e0f0ff;
}


.banniere h2 {
    font-size: 42px;
    font-weight: bold;
    color: #2d2d2d;
}

.banniere h2:hover {
    color: black;
}

.cont {
    width: 50%;
    margin: 0 auto; /* centrer */
  }

.cont form {
  width: 80%;
  margin: 0 auto;
}

.aide-btn button {
  width: 50%;
}
/*footer*/

footer {
    background-color: #003049;
    color: #fff;
    padding: 40px 20px;
}

footer h3 {
    font-size: 1.3rem !important;
    margin-bottom: 10px;
    color: #ffffff;
}

footer a.text-light {
    color: #ddd !important;
    font-size: 1.6rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
    color: #0dcaf0 !important;
}

footer .list-inline-item i {
    transition: transform 0.3s ease;
}

footer .list-inline-item i:hover {
    transform: scale(1.2);
    color: #fed6e3;
}


/*******************/

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/********************/


.contact-info {
    margin-top: 30px;
    background-color: #f1f8fc;
    padding: 15px;
    border-left: 5px solid #2980b9;
    border-radius: 8px;
  }

.contact-info a {
    color: #2980b9;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


/************************/

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.3rem;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3rem;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }

  /*******************/

ul.faq {
    list-style-type: none;
    padding: 0;
}

ul.faq li {
    margin-bottom: 20px;
    background-color: #ecf4f6;
    padding: 15px;
    border-left: 5px solid #3498db;
    border-radius: 8px;
    font-size: 1.4rem;
}

ul.faq li strong {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 5px;
}
