/*body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}*/

header .row a:hover {
    text-decoration: underline;
    color: black;
}

.navbar-nav {
    margin: auto; /* Centre les éléments du menu */
}

.col p {
    color: #333333;
    text-align: justify;
    font-size: 30px;
}

.col h3{
    color: black;
    text-align: left;
    font-size: 2em;
}

.card-title {
    font-weight: bold;
}

.banniere {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 400px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
}
.banniere h2 {
    font-size: 45px;
    color: bisque; 
}

.banniere h2:hover {
    color: black;
}

footer .row a {
    color: #333333;
    text-decoration: none;
}

footer a:hover{
    color: black;
    text-decoration: underline;
}

footer h3:hover{
    color: black;
}
    /* les cartes */
.card-text {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.cure .card {
    border: 1px solid #ddd;  /* Exemple de style pour les cartes */
}

.cure .card-body {
    padding: 20px;  /* Ajuster le padding de la carte */
}

.cure .card-title {
    font-size: 1.5rem;  /* Agrandir le titre de la carte */
}

.card-img-top {
    width: 100%;
    height: 200px;  /* Ajuster la hauteur pour que toutes les images aient la même taille */
    object-fit: cover;  /* Garantir que l'image couvre bien l'espace sans être déformée */
}

/* les images */

.image-container {
    position: relative;
    overflow: hidden; /* Empêche le débordement */
}

.image-container img {
    width: 100%; 
    height: 350px; 
    object-fit: cover; /* Coupe l'image pour remplir l'espace sans déformation */
    border-radius: 5px;
}

.image-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    opacity: 0; /* Caché par défaut */
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
}

.image-container:hover .image-info {
    opacity: 1; /* Affiche le texte au survol */
}

    /*calendrier*/
    
    /* taille des cases */
.ui-datepicker td, .ui-datepicker th {
    padding: 2px; 
}

    /* Champ de sélection */
#arrival-date, #departure-date {
    font-size: 0.9rem;
    padding: 3px;
    text-align: center;
}

/*reservation*/

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.help {
    text-align: left;
    margin-top: 15px;
}
.help a {
    color: #0066c0;
    text-decoration: none;
    font-size: 14px;
}
.help a:hover {
    text-decoration: underline;
}


/**************************/
.business, .register {
    margin-top: 20px;
    font-size: 14px;
}
.register a {
    color: #0066c0;
    text-decoration: none;
    font-weight: bold;
}
.register a:hover {
    text-decoration: underline;
}

.radio-container {
    display: flex;
    align-items: center; /* Alignement vertical parfait */
    gap: 10px; /* Espace entre le bouton et le texte */
    margin-bottom: 5px; /* Espacement entre chaque option */
}

.radio-container input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0; /* Supprime le décalage */
}

/*masquer les cures*/
.hidden {
    display: none;
}
